/* General rules */

:root{
    --bg-color:#020204;
    --text-color:#fff;
    --text-color-secondary:#dfdfdf;
    --accent:#c7a17a;
    --accent-dark:#a4815e; 
    --bg-dark-color:#14141d;
    --bg-darken-color:#22222F;
}

html, body {
    height: 100%;   
}

body{
    min-width: 320px;
    font-family: 'Jost', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}   

/* картинки адаптивные */

img{
    max-width: 100%;
    height: auto;
}

a{ 
    color: var(--text-color);
    text-decoration: none;
    transition: color .3s;
}

a:hover, a.active{
    color: var(--accent);
}


.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}


/* прижатие футера вниз */
.main{
    flex: 1 1 auto;
}

.btn-warning{
    background-color: var(--accent);
    border-color: var(--accent);
    color: var(--text-color);
    transition: all .3s;
    border-radius: 10px;
}

.btn-warning:hover{
    background-color: var(--accent-dark);
    border-color: var(--accent-dark);
}

.btn-outline-secondary{
    color: var(--text-color);
    transition: all .3s;
    border-radius: 10px;
}

/*Header */
.header-top{
    padding: 8px 0px;
}

.languages a, .header-phone {
    font-weight: 600;
    font-size: 14px;
}

.header nav {
/*     padding-top: 10px;
    padding-bottom: 10px; */
    border-top: 1px solid #32323d;
    border-bottom: 1px solid #32323d;
    background: var(--bg-color) !important;
    position: relative;
}

.navbar-brand{
    position: absolute;
left: 50%;
transform: translateX(-50%);
}

.navbar-brand img {
    max-width: 58px;
/*     transition: all 0.3s; */
}

.navbar-brand:hover img {
    filter: drop-shadow(0 0 10px var(--accent));
}

.header .navbar-nav .nav-link{
    text-transform: uppercase;
    color: var(--text-color);
    padding-left: 17px;
    padding-right: 17px;
}

.header .navbar-nav .nav-link:hover,
.header .navbar-nav .nav-link.active {
    color: var(--accent);
}

.dot{
    width: 6px;
    height: 6px;
    background-color: var(--accent);
    top: 0;
    right: 0;

}

.modal-backdrop{
    z-index: 1;
}

.navbar-toggler:focus{
    box-shadow: none;
}

/* Hero section */

.hero-section{
    background:url(../image/hero_img.jpg);
    background-repeat: no-repeat; /* картинка не будет повторяться */
    background-position: center;
    background-size: cover; /* маштабирование картинки */
    padding: 200px 0;
}

.hero-section-content{
    width: 50%;
}

.hero-section-content h1{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 144%;
}

.hero-section-content p{
    font-size: 18px;
    color: var(--text-color-secondary);
}

.hero-section-content .btn {
   padding: 15px 60px;
    font-size: 15px;
    font-weight: 500;
   text-transform: uppercase;   
   margin-right: 20px;
   margin-bottom: 20px;
}

/* banner-section */
.banner-section{
    margin-top: 100px;
    margin-bottom: 100px;
}

.banner-section-img, .banner-section-content{
    width: 50%;
}

.banner-section-img img {
    object-fit: cover;
    object-position: right top;
    border-radius:  10px 0px 0px 10px;
}

.banner-section-img::before{ /* добавление затемнения */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0,0, 0.5);
}

.banner-section-content h3 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.3rem;
    color: var(--text-color-secondary);
    
}

.banner-section-content p {
    color: var(--text-color-secondary); 

}

.banner-section-content {
    background: var(--bg-dark-color);
}

.banner-section-content{
    border-radius: 0 10px 10px 0;
}

/* Каталог секция  */
.catalog-section{
   margin: 80px 0;
}

.h-title{
    font-size: 40px;
    font-weight: 900;
    line-height: 1.44;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.product-card{
    background-color: var(--bg-dark-color);
    cursor: pointer;
    transition:background-color .5s;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;

}

.product-card:hover{
    background: var(--bg-darken-color);
}

.product-cart-img {
    text-align: center;
}

.product-content h3 {
    font-size: 24px;
    font-weight: 900;
    color: var();
    margin-top: 30px;
    text-transform: uppercase;
    /* как скрыть большое название товара и добавить ... */
}

.product-content h3 a {
    /* как скрыть большое название товара и добавить ... */
    height: 60px;
    overflow: hidden; /* скрываем весь текст который больше высоты */
    display: -webkit-box;
    -webkit-line-clamp: 2;/* сколько строк мы видем */
    -webkit-box-orient: vertical;

}

.product-cart-details{
    font-size: 18px;
}

.product-cart-details small{
    color: #818181;
    text-decoration: line-through;
    font-size: 17px;
}

.product-actions span{
    font-size: 25px;
}

@media (min-width:992px){
    .header .navbar-nav .nav-item:first-child a  {
        padding-left: 0;
    }

    .navbar-brand img {
        max-width: 44px;
    }
}

@media (max-width:991.89px){
    .hero-section{
        padding: 100px 0;
    }

    .hero-section-content{
        width: 70%;
    }

    .hero-section-content h1{
        font-size: 48px;
    }

    .hero-section-content p{
        font-size: 16px;
    }

    .banner-section-img,.banner-section-content  {
        width: 100%;
    }
    
    .banner-section-img img {
        border-radius:  10px 10px 10px 10px;
    }
    
    .banner-section-content{
        border-radius:  10px 10px 10px 10px;
    }

    .banner-section-content{
        margin-top: 20px;
    }
}

@media (max-width:767.89px){
    .hero-section{
        padding: 70px 0;
    }

    .hero-section-content{
        width: 100%;
    }

    .hero-section-content h1{
        font-size: 40px;
    }

    .hero-section-content p{
        font-size: 16px;
    }

    .banner-section{
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .catalog-section{
        margin: 40px 0;
    }
}




@media (max-width:576px){

    .navbar-brand img {
        max-width: 44px;
    }

    .hero-section-content a.btn {
        width: 210px;
    }

    .hero-section{
        background-position: 66%; /* двигает картинку  */
    }

    .banner-section-content p {
        font-size: 12px;
    }

    .banner-section-content h3 {
        font-size: 20px;
        text-align: center;
    }
}
