/* General rules */

:root{
    --bg-color:#020204;
    --text-color:#fff;
    --accent:#c7a17a;
}

html, body {
    height: 100%;   
}

body{
    min-width: 320px;
    font-family: 'Jost', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}   

/* картинки адаптивные */

img{
    max-width: 100%;
    height: auto;
}

a{ 
    color: var(--text-color);
    text-decoration: none;
    transition: color .3s;
}

a:hover, a.active{
    color: var(--accent);
}


.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}


/* прижатие футера вниз */
.main{
    flex: 1 1 auto;
}


/*Header */
.header-top{
    padding: 8px 0px;
}

.languages a, .header-phone {
    font-weight: 600;
    font-size: 14px;
}

.header nav {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #32323d;
    border-bottom: 1px solid #32323d;
    background: var(--bg-color) !important;
    position: relative;
}

.navbar-brand{
    position: absolute;
left: 50%;
transform: translateX(-50%);
}

.navbar-brand img {
    max-width: 58px;
/*     transition: all 0.3s; */
}

.navbar-brand:hover img {
    filter: drop-shadow(0 0 10px var(--accent));
}

.header .navbar-nav .nav-link{
    text-transform: uppercase;
    color: var(--text-color);
    padding-left: 17px;
    padding-right: 17px;
}

.header .navbar-nav .nav-link:hover,
.header .navbar-nav .nav-link.active {
    color: var(--accent);
}


@media (min-width:992px){
    .header .navbar-nav .nav-item:first-child a  {
        padding-left: 0;
        }
}